<div class="container">
  <div class="d-flex justify-content-center">
    <div class="row">
      <div class="col-9">
        <form class="w-100 me-3">
          <input #pesquisa type="search" class="form-control" list="datalistProducts" placeholder="Buscar produto pelo nome" aria-label="Search">
          <datalist id="datalistProducts">
            <option *ngFor="let sugestao of sugestoes" [value]="sugestao.term">
          </datalist>
        </form>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-primary" (click)="pesquisarProdutos(pesquisa.value)">Pesquisar</button>
      </div>
    </div>
  </div>
</div>
